.main-container {
  /* padding: 25px; */
  margin-top: 5rem;
  margin-left: 16.3rem;
}
.title-section {
  background-image: url("../../../assets/topbar-background-sky-blue.jpg");
  width: 100vw;
  height: 11vh;
  padding: 20px;
  padding-left: 75px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-section h3 {
  color: white;
}
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
@media (max-width: 1299px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 10rem;
  }
}
@media (max-width: 992px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 0;
  }
}
/* #productivitychartsection{
    height: 5rem;
    
  } */
