.blink {
  position: absolute;
  right: 9px;
  /* background-color: rgb(117, 223, 117); */
  text-align: center;
  width: 30px;
  border-radius: 3px;
  padding: 0px 3px;
  top: 8px;
  margin-right: 3rem;
}
.blink span {
  font-size: 24px;
  /* font-family: cursive; */
  color: red;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  /* 50%{opacity: .5;} */
  100% {
    opacity: 1;
  }
}
