.main-container {
  /* padding: 25px; */
  margin-top: 5rem;
  margin-left: 16.3rem;
}
.container {
  padding: 3rem;
  padding-left: 2.5rem;
}

.title-section {
  background-image: url("../../../assets/topbar-background-sky-blue.jpg");
  width: 100vw;
  height: 11vh;
  padding: 20px;
  padding-left: 75px;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-section h3 {
  color: white;
}
.list-item {
  font-size: 12px;
}
.card {
  width: 90%;
  height: 20rem;
  font-size: 12px;
  /* margin-left: 3rem; */
}
.btn {
  width: 50%;
  margin-left: 4rem;
  margin-top: 1rem;
  color: white;
}
.sysrequirements {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.icon {
  width: 100%;
  height: 40%;
  padding-left: 6rem;
  padding-top: 0.5rem;
}
.fa {
  font-size: 6rem;
  color: blue;
  margin: auto;
}
@media (max-width: 1299px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 13rem;
  }
  .container {
    padding: 2rem;
    margin: 0;
  }
  .card {
    width: 100%;
    /* height: 20rem; */
    /* margin-left: 3rem; */
  }
}
@media (max-width: 992px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 0;
  }
  .container {
    padding: 4rem;
  }
  .card {
    width: 95%;
    margin-bottom: 1rem;
  }
}
.h6 {
  font-size: 14px;
}
