<div class="wrapper">
  <ul class="nav-items">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="menu-title">Time Tracker</span>
      </a>
      <div class="submenu-ofsidebar">
        <div class="dropdown">
          <a routerLink="/livetracking">Live Tracking</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/monitoring">
        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
        <span class="menu-title">Monitoring</span>
      </a>
      <div class="submenu-ofsidebar">
        <a routerLink="/productivity">Productivity</a>
        <a routerLink="/latestsnapshots">Latest Snapshot</a>
        <a routerLink="/violation">Violation</a>
        <a routerLink="/webusage">Web Usage</a>
        <a routerLink="/appusage">App Usage</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/index">
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <span class="menu-title">Dashboard</span>
      </a>
      <!-- <div class="submenu-ofsidebar">
                <a href="/tracker">Live Tracking</a>
              </div> -->
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employeelist">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="menu-title">Employees</span>
      </a>
      <!-- <div class="submenu-ofsidebar">
                <a href="/tracker">Live Tracking</a>
              </div> -->
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <span class="menu-title">Bi Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span class="menu-title">Configure</span>
      </a>
      <div class="submenu-ofsidebar" style="top: 19rem">
        <a routerLink="/departements">Departements</a>
        <a routerLink="/teams">Teams</a>
        <a routerLink="/addviolation">Violations</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/downloadagent']">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span class="menu-title">Download Agent</span>
      </a>
    </li>
  </ul>
</div>
