.wrapper {
  width: 17vw;
  position: fixed;
  height: 100vh;
  /* overflow: hidden; */
  background-color: blue;
  z-index: 1000;
  font-size: 14px;
  /* margin:auto; */
}

ul {
  margin-top: 125px;
  padding: 0;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 10px 30px;
  color: white;
}

.nav-link i {
  font-size: 20px;
  width: 40px;
}

li:hover .nav-link {
  background-color: white;
  color: rgb(77, 77, 220);
}

.submenu-ofsidebar {
  border-radius: 10px;
  position: absolute;
  height: 14rem;
  width: 180px;
  display: block;
  left: 100%;
  padding: 15px 4px;
  top: 8rem;
  /* z-index: -4; */
  visibility: hidden;
  background-color: blue;
  font-size: 14px;
  /* color: white; */
}

.submenu-ofsidebar a {
  color: white;
  display: block;
  margin: 8px 0;
  padding: 2px 6px;
  text-decoration: none;
}

.wrapper .nav-item:hover > .submenu-ofsidebar {
  visibility: visible;
}

.submenu-ofsidebar a:hover {
  background: white;
  border-radius: 6px;
  color: #4d4dff;
}
@media (max-width: 992px) {
  .wrapper {
    display: none;
  }
}
