.main-container {
  /* padding: 25px; */
  margin-top: 5rem;
  margin-left: 16.3rem;
}
.title-section {
  background-image: url("../../../assets/topbar-background-sky-blue.jpg");
  width: 100vw;
  height: 11vh;
  padding: 20px;
  padding-left: 75px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-section h3 {
  color: white;
}
.title-section {
  background-image: url("../../../assets/topbar-background-sky-blue.jpg");
  width: 100vw;
  height: 11vh;
  padding: 20px;
  padding-left: 75px;
}
.title-section h3 {
  color: white;
}
.card-img-top,
h6 {
  height: 6rem;
}
.card-text {
  font-size: 12px;
}
.btn-primary {
  padding: 2px 4px;
  margin-top: 6px;
  font-size: 12px;
}
h5 {
  font-size: 18px;
}
.h6 {
  height: 3.6rem;
  font-size: larger;
  /* margin: 1.3rem; */
}
@media (max-width: 1299px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 10rem;
  }
  .m-3 {
    padding-left: 3rem;
  }
}
@media (max-width: 992px) {
  .main-container {
    margin-top: 5rem;
    margin-left: 0;
  }
}
.h6 {
  font-size: 14px;
}
.card-title {
  font-size: 12px;
}
.card-text {
  font-size: 10px;
}
