.standard {
  /* width: 50%;
  height: 12rem; */
  /* z-index: 500; */
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  right: 8%;
  width: 50%;
  height: 75%;
  top: 12%;
  /* z-index: ; */
}

.standard > ul {
  list-style: none;
}

.standard > ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
  /* justify-content: space-around; */
}

.standard > ul li > div {
  width: 1.2rem;
  height: 0.6rem;
  /* justify-content: space-around; */
}

.standard > ul li div {
  margin-right: 12px;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: 0.2px solid blue;
}

.h5 {
  font-size: 1.3rem;
}
.mt-2 {
  font-size: 12px;
}
