<app-card>
  <h1 class="h5" style="color: blue;">Web Usage</h1>
  <div *ngIf="loading">
    <app-loadingspinner2></app-loadingspinner2>
  </div>
   <div *ngIf="!loading">
      <div *ngIf="webUsescountgraph.length===0" class="mt-2">No Data is available!</div>
    </div>
  <div style="width: 50%;height: 50%;">
    <canvas id="web-doughnut-chart" width="300" height="150"></canvas>
  </div>
  <div class="standard">
    <ul>
      <li *ngFor="let item of text">
        <div [ngStyle]="{'background-color': item['color']?item['color']:'white'}">
        </div>
        {{item['label']}} : {{item['data']}}%
      </li>
    </ul>
  </div>


</app-card>
