<app-topnav></app-topnav>
<app-sidenavbar></app-sidenavbar>
<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 title-section">
        <h3>Web Usage</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="custom-datepicker">
          <div id="reportrange">
            <span></span>
            <app-drpicker></app-drpicker>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 8px;
        margin: 0.1rem;
      "
    >
      <div class="col-12">
        <div id="productivitychartsection">
          <app-webusagegrpahpage></app-webusagegrpahpage>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-12">
        <table id="customers">
          <thead>
            <tr>
              <th>Latest Activity Date</th>
              <th>Employee name</th>
              <th>Computer</th>
              <th>Latest Web Accessed</th>
              <th>Total Web Duration</th>
              <th>Web Usage Percentage</th>
              <th>Download</th>
            </tr>
          </thead>
          <div *ngIf="loading">
            <app-loadingspinner></app-loadingspinner>
          </div>

          <tbody *ngFor="let item of paginatedata; let i = index">
            <tr>
              <td>{{ item["activitydate"] }}</td>
              <td>{{ item["empname"] }}</td>
              <td>{{ item["system_name"] }}</td>
              <td>
                {{
                  item["latestAppUsed"] !== "N/A"
                    ? item["latestAppUsed"].slice(0, 25) + "..."
                    : "N/A"
                }}
              </td>
              <td>{{ item["totalDuration"] }}</td>
              <td>{{ item["usesPercentage"] + "%" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="download(i)"
                >
                  <i class="fa fa-download" style="color: white"></i> Download
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="m-auto d-flex justify-content-center" *ngIf="!loading">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshCountries()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
