<app-topnav></app-topnav>
<app-sidenavbar></app-sidenavbar>
<div class="main-container">
  <div class="container">
    <div class="row mb-2">
      <div class="col-4">
        <div class="card mt-5 p-2" [routerLink]="['/productivity']">
          <div class="logo1 card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Productivity</h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mt-5 p-2" [routerLink]="['/appusage']">
          <div class="logo2 card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">App Usage</h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mt-5 p-2" [routerLink]="['/webusage']">
          <div class="logo3 card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Web Usage</h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mt-5 p-2" [routerLink]="['/latestsnapshots']">
          <div class="logo4 card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">
              Latest Snapshots
            </h5>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mt-5 p-2" [routerLink]="['/violation']">
          <div class="logo5 card-img-top"></div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">Violation</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
